<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Hello World in Backbone.js</title>
</head>
<body>
  <style type="text/css">
    #todoapp ul {
      list-style-type: none; /* Hides bullet points from todo list */
    }
    #todo-list input.edit {
      display: none; /* Hides input box*/
    }
    #todo-list .editing label {
      display: none; /* Hides label text when .editing*/
    }    
    #todo-list .editing input.edit {
      display: inline; /* Shows input text box when .editing*/
    }    
  </style>
  <!-- ========= -->
  <!-- Your HTML -->
  <!-- ========= -->
<section id="todoapp">
  <header>
      <h1>Todos</h1>
      <input id="new-todo" placeholder="what needs to be done?" autofocus>
  </header>
  <section id="main">
    <ul id="todo-list"></ul>
  </section>
</section>

<script type="text/template" id="item-template">
  <div class="view">
    <input class="toggle" type="checkbox"  <%= completed ? 'checked' : '' %>>
    <label><%- title %></label>
    <input class="edit" value="<%- title %>">
     <button class="destroy">remove</button>
  </div>
</script>
  <!-- ========= -->
  <!-- Libraries -->
  <!-- ========= -->
  <script src="jquery.min.js" type="text/javascript"></script>
  <script src="underscore-min.js" type="text/javascript"></script>
  <script src="backbone-min.js" type="text/javascript"></script>
  <script src="backbone.localStorage-min.js" type="text/javascript"></script>  
  
  <!-- =============== -->
  <!-- Javascript code -->
  <!-- =============== -->
  <script type="text/javascript">
    var app={};
    //Models
    app.Todo = Backbone.Model.extend({
      defaults:{
        title:'',
        completed:false
      },
      toggle: function(){
        this.save({ completed: !this.get('completed')});
       }
    });

    //Collection
    app.TodoList =Backbone.Collection.extend({
      model:app.Todo,
      localStorage : new Store("backbone-todo")
    });
    // instance of the Collection
    app.todoList = new app.TodoList();

    //renders individual todo items list(li)
    app.TodoView = Backbone.View.extend({
      tagName: 'li',
      template: _.template($('#item-template').html()),
      render : function(){
        this.$el.html(this.template(this.model.toJSON()));
        this.input = this.$('.edit');
        return this;
      },
      initialize : function(){
        this.model.on('change', this.render, this);
        this.model.on('destroy', this.remove, this);
      },
      events:{
        'dblclick label':'edit',
        'keypress .edit':'updateOnEnter',
        'blur .edit':'close',
        'click .toggle': 'toggleCompleted',
        'click .destroy': 'destroy'
      },
      edit:function(){
        this.$el.addClass('editing');
        this.input.focus();
      },
      close:function(){
        var value = this.input.val().trim();
        if(value){
          this.model.save({title: value});
        }
        this.$el.removeClass('editing');
      },
      updateOnEnter:function(e){
        if(e.which==13){
          this.close();
        }
      },
      toggleCompleted: function(){
        this.model.toggle();
      },
      destroy: function(){
        this.model.destroy();
      }
    });

    //renders the full list of todo items
    app.AppView = Backbone.View.extend({
      el:'#todoapp',
      initialize:function(){
        this.input = this.$('#new-todo');
        app.todoList.on('add',this.addOne,this);
        app.todoList.on('reset',this.addAll,this);
        app.todoList.fetch();
      },
      events: {
        'keypress #new-todo':'createTodoOnEnter'
      },
      createTodoOnEnter:function(e){
        if(e.which !==13 || !this.input.val().trim()){
          return;
        }
        app.todoList.create(this.newAttributes());
        this.input.val('');
      },
      addOne:function(todo){
        var view = new app.TodoView({model:todo});
        $('#todo-list').append(view.render().el);
      },
      addAll:function(){
        this.$('#todo-list').html('');
        app.todoList.each(this.addOne,this);
      },
      newAttributes: function(){
        return{
          title:this.input.val().trim(),
          completed:false
        }
      }
    });

    //Initializer
    app.AppView = new app.AppView();
  </script>
  
</body>
</html>